{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    
        <title>Redirect Amazon{{ title }}</title>
    
</head>
<body>
    <h1>Product List</h1>
    <div class="row">
        <div class="column">
    <a href="https://www.amazon.com/HP-Black-Cartridge-CH561WN-Deskjet/dp/B003H2GBM4/ref=lp_16225007011_1_11">
    <img src="{% static "images/Product2.png" %}" class="img-thumbnail" alt=""width="200"height="200">
    </a>
  
    <p><b>Name: </b>INK Cartridge</p>
    <p><b>Price: </b>1,930</p>
    </div>
   
   <div class="column">
    <a href="https://www.amazon.com/Logitech-G502-Performance-Gaming-Mouse/dp/B07GBZ4Q68/ref=sr_1_9?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616828061&rnid=16225007011&s=computers-intl-ship&sr=1-9">
        <img src="{% static "images/Product3.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
        </a>
    
        <p><b>Name: </b>Logitech G502</p>
        <p><b>Price: </b>7,110</p>
    </div>
        <div class="column">
            <a href="https://www.amazon.com/Logitech-800dpi-Optical-3-button-Ambidextrous/dp/B003L62T7W/ref=sr_1_43?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616829652&rnid=16225007011&s=computers-intl-ship&sr=1-43">
                <img src="{% static "images/Product4.png" %}" class="img-thumbnail" alt="" width="230"height="200">
                </a>
            
            <p><b>Name: </b>Logitech B100</p>
            <p><b>Price: </b>420</p>
            </div>
            <div class="column">
                <a href="https://www.amazon.com/HyperX-Cloud-Gaming-Headset-KHX-HSCP-RD/dp/B00SAYCXWG/ref=sr_1_56?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616829652&rnid=16225007011&s=computers-intl-ship&sr=1-56">
                    <img src="{% static "images/Product4.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                    </a>
                
                <p><b>Name: </b>HYPERX CLOUD II</p>
                <p><b>Price: </b>8,400</p>
                </div>
                <div class="column">
                    <a href="https://www.amazon.com/Razer-Cynosa-Chroma-Gaming-Keyboard/dp/B075KMZ4MX/ref=sr_1_116?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616830140&rnid=16225007011&s=computers-intl-ship&sr=1-116">
                        <img src="{% static "images/Product5.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                        </a>
                    
                    <p><b>Name: </b>Razer Cynosa </p>
                    <p><b>Price: </b>5,200</p>
                    </div>
                    <div class="column">
                        <a href="https://www.amazon.com/HyperX-Cloud-Flight-Detachable-Microphone/dp/B082R1GMV2/ref=sr_1_143?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616830505&rnid=16225007011&s=computers-intl-ship&sr=1-143">
                            <img src="{% static "images/Product6.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                            </a>
                        
                        <p><b>Name: </b>HyperX Cloud Flight</p>
                        <p><b>Price: </b>55,019</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <a href="https://www.amazon.com/Wacom-Graphics-Animation-Beginners-DTC133W0A/dp/B082LZXQ6B/ref=sr_1_150?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616830764&rnid=16225007011&s=computers-intl-ship&sr=1-150">
                            <img src="{% static "images/Product7.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                            </a>
                        
                        <p><b>Name: </b>Wacom</p>
                        <p><b>Price: </b>40,000</p>
                        </div>
                        <div class="column">
                            <a href="https://www.amazon.com/Logitech-960-000585-HD-Webcam-C310/dp/B003LVZO8S/ref=sr_1_173?dchild=1&fst=as%3Aoff&pf_rd_i=16225007011&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=74069509-93ef-4a3c-8dca-a9e3fa773a64&pf_rd_r=TPXHV9AFYM4997TY04X3&pf_rd_s=merchandised-search-4&pf_rd_t=101&qid=1616830960&rnid=16225007011&s=computers-intl-ship&sr=1-173">
                                <img src="{% static "images/Product8.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                                </a>
                            
                            <p><b>Name: </b>Webcam</p>
                            <p><b>Price: </b>3,750</p>
                            </div>
                            <div class="column">
                                <a href="https://www.amazon.com/Blue-Yeti-USB-Microphone-Blackout/dp/B00N1YPXW2/ref=sr_1_10?dchild=1&qid=1616831919&s=pc&sr=1-10">
                                    <img src="{% static "images/Product9.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                                    </a>
                                
                                <p><b>Name: </b>Blue-Yeti-USB-Mic</p>
                                <p><b>Price: </b>20,000</p>
                                </div>
                                <div class="column">
                                    <a href="https://www.amazon.com/Sony-SRS-XB12-Portable-Bluetooth-Speaker/dp/B07P85CDHG/ref=sxin_9_ac_d_rm?ac_md=3-2-d2lyZWxlc3Mgc3BlYWtlcg%3D%3D-ac_d_rm&cv_ct_cx=soundbox&dchild=1&keywords=sound+box&pd_rd_i=B07P85CDHG&pd_rd_r=d283dbe1-6dfb-4bbf-b8d3-52725e1e8fef&pd_rd_w=NhbTn&pd_rd_wg=Mb0zo&pf_rd_p=1493ce18-a74b-4311-9662-82d8e55e9a65&pf_rd_r=PN1B1JHFYN73RE21HMMG&psc=1&qid=1616832225&sr=1-1-12d4272d-8adb-4121-8624-135149aa9081">
                                        <img src="{% static "images/Product10.jpg" %}" class="img-thumbnail" alt="" width="200"height="200">
                                        </a>
                                    
                                    <p><b>Name: </b>Sony Wireless Speaker</p>
                                    <p><b>Price: </b>4,990</p>
                                    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>